<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">

    <title>Makkelijker</title>
    <link rel="stylesheet" href="lib/bootstrap.min.css" />
    <link title="Standaard" rel="stylesheet" type="text/css" href="css/content-ih.css" media="screen" />
    <link rel="stylesheet" href="css/index.css">

    <script type="text/javascript" src="lib/jquery-3.2.1.min.js"></script>

    <script type="text/javascript" src="./assets/gen_reken_interface_func_init.js"></script>
    <script type="text/javascript" src="./assets/gen_reken_interface_func_blauw.js"></script>
    <script type="text/javascript" src="./assets/gen_reken_val_func_init.js"></script>
    <script type="text/javascript" src="./assets/gen_reken_val_func_blauw.js"></script>
    <script type="text/javascript" src="./assets/interface-old.js"></script>
    <script type="text/javascript" src="./assets/berekening.js"></script>

    <script type="text/javascript" src="./assets/interface-99-blauw.js"></script>

    <script src="https://unpkg.com/vue"></script>

  </head>
  <body class="d-flex flex-column">

    <div id="page-content">
      <div class="container" id="app">

        <form id="frmBerekening" action="" method="post" onsubmit="return false">

          <div class="row mt-3">
            <div class="col-12 text-center">
              <p>Rekent aanslagnummers om naar kenmerk en visa versa.</p>
            </div>
          </div>

          <div class="row">
            <div class="col-12">

              <code-invoer></code-invoer>

            </div>
          </div>

          <div class="row mt-3">
            <div class="col-12 text-center">
              <div class="custom-control custom-switch mb-2">
                <input type="checkbox" class="custom-control-input" id="toon-debug">
                <label class="custom-control-label" for="toon-debug">debug</label>
              </div>
            </div>
          </div>

          <div v-if="formStatus=='gebruikt'">
            <div class="row mt-5">
              <div class="col-5">
                <invoerkaart :type="storeState.typeInvoer" :nummer="storeState.invoerEenVanBeideGeformatteerd"></invoerkaart>
              </div>

              <div class="col-2 text-center" style="padding-top:56px;"  v-if="vertaalStatus==''">
                <img src="img/Line.png" />
              </div>

              <div class="col-5" v-if="vertaalStatus==''">
                <vertaalkaart :type="typeUitvoer"></vertaalkaart>
              </div>


            </div>
          </div>

          <div class="row mt-3" v-if="vertaalFoutMelding!=''">
            <div class="col-12">
              <div class="alert alert-warning" role="alert">
                {{vertaalFoutMelding}}
              </div>
            </div>
          </div>

          <!--
          <div class="row mt-3">
            <div class="col-12">

              <div id="divResultaat" class="clBGFormulier">
                <fieldset id="fsUitvoer">


                  <div id="divResult" class="clResult">
                    <div class="clUitkomst">
                    </div>

                  </div>

                  <div id="divResultGeenAanslagnummer" class="clResult">
                    <div class="clUitkomst">
                      <h2>Het aangifte-, aanslag- of beschikkingsnummer kan niet worden vastgesteld.</h2>
                    </div>
                  </div>

                  <div id="divResultGeenBetalingskenmerk" class="clResult">
                    <div class="clUitkomst">
                      <h2>Het betalingskenmerk kan niet worden vastgesteld.</h2>
                    </div>
                  </div>

                </fieldset>
              </div>

            </div>
          </div>
          -->

          <div class="row mt-3 debug">
            <div class="col-2">
            </div>
            <div class="col-8">

              <h5>DEBUG RESULTAAT</h5>
              <span id="spanAanslagnummer"></span>
              <span id="spanBetalingsKenmerk"></span>

              <h5>DEBUG BETALINGSKENMERK</h5>
              <input type="text" id="bkVeld0" class="kenmerk" maxlength="4" style="width:50px;"/>
              <input type="text" id="bkVeld1" class="kenmerk" maxlength="4" style="width:50px;"/>
              <input type="text" id="bkVeld2" class="kenmerk" maxlength="4" style="width:50px;"/>
              <input type="text" id="bkVeld3" class="kenmerk" maxlength="4" style="width:50px;"/>
              </p>

              <p id="restant">
              <h5>DEBUG SLOTCIJFERS</h5>
              <!--<input type="text" name="inputSofiMiddel" class="inputSofiMiddel" size="12" readonly="readonly"><br>-->
              <input type="text" name="A" id="A" class="restant" size="6" maxlength="6"  onchange="RegExpAllNumeric(this.value, 6, &#39;A&#39;)"> A/B/D/E/F/L<br>
              <input type="text" name="H" id="H" class="restant" size="4" maxlength="4"  onchange="RegExpAllNumeric(this.value, this.maxLength, &#39;H&#39;)"> H/N/S<br>
              <input type="text" name="M" id="M" class="restant" size="6" maxlength="6"  onchange="RegExpNumeric(this.value, 6, &#39;M&#39;)"> M <br>
              <input type="text" name="Y" id="Y" class="restant" size="6" maxlength="6"  onchange="RegExpNumeric(this.value, 6, &#39;Y&#39;)"> Y<br>
              <input type="text" name="T" id="T" class="restant" size="7" maxlength="7"  onchange="RegExpAllNumeric(this.value, 6, &#39;T&#39;)"> T<br>
              <input type="text" name="V" id="V" class="restant" size="6" maxlength="6"  onchange="RegExpAllNumeric(this.value, 6, &#39;V&#39;)"> V<br>
              <input type="text" name="W" id="W" class="restant" size="3" maxlength="3"  onchange="RegExpAllNumeric(this.value, 2, &#39;W&#39;)"> W<br>
              <input type="text" name="Z" id="Z" class="restant" size="6" maxlength="6"  onchange="RegExpAllNumeric(this.value, 6, &#39;Z&#39;)"> Z<br>
              </p>

              <h5>DEBUG AANSLAGNR</h5>
              <input type="text" value=""  id="inputSofi"  maxlength="9" style="width:150px;"/> SOFI/BSN
              <input type="text" value="" name="Middelcode" id="Middelcode" class="kenmerk" maxlength="1" style="width:30px;"/> MIDDELCODE<br>
              </p>
            </div>

          </div>

        </form>

      </div>

    </div>

    <footer id="sticky-footer" class="">
      <div class="container">
        <small>Makkelijker is een open source programma van Lingewoud B.V. © 2019</small>

      </div>

      <div class="col-4">

      </div>

    </footer>

    <script src="assets/makkelijker-store.js"></script>
    <script src="assets/makkelijker-calcs.js"></script>
    <script src="assets/makkelijker-lijmcode.js"></script>
    <script src="assets/makkelijker-app.js"></script>

  </body>
</html>
